html {
	min-height: 100%;
}

body {
	min-height: 100%;
    font-family: $primary-font;
    line-height: $primary-line-height;
    font-style: $primary-font-style;
    font-weight: $primary-font-weight;
    color: $blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-image: url("../img/bg2.jpg");
}

.container {
	padding-top: 15px;
	padding-bottom: 15px;

	@media (min-width: $lg) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	@media (min-width: $xl) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
} 

.to-do-list {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/bg.jpg");
	box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
	padding: 20px 15px;

	@media (min-width: $md) {
		padding: 20px;
		box-shadow: 15px 15px 5px rgba(0,0,0,0.6);
	}

	@media (min-width: $lg) {
		padding: 20px;
		box-shadow: 25px 25px 5px rgba(0,0,0,0.6);
	}
	
}

.title {
	text-align: center;
	font-size: 40px;
	margin: 0 0 20px 0;

	@media (min-width: $md) {
		font-size: 50px;
		margin: 0 0 30px 0;
	}

	@media (min-width: $lg) {
		font-size: 55px;
	}

	@media (min-width: $xl) {
		font-size: 60px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	padding: 0;
	font-size: 26px;
	margin: 0 0 20px 0;
	position: relative;

	&.empty {
		display: none;
	}

	@media (min-width: $md) {
		margin: 0 0 30px 0;
		font-size: 35px;
	}

	&-item {
		white-space: nowrap;
		cursor: pointer;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		&__checkbox {

			display: inline-block;
			width: 20px;
			height: 20px;
			border: 1px solid black;
			position: relative;
			overflow: hidden;

			@media (min-width: $md) {
				width: 24px;
				height: 24px;
				vertical-align: baseline;
			}

			&::before {
				content: "";
				width: 20px;
				height: 15px;
				border-right: 2px solid $blue;
				border-bottom: 2px solid $blue;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translate(-50%, -50%) rotate(45deg);
				opacity: 0;
			}
			
		}

		&__text {
			position: relative;

			&::before {
				content: "";
				width: 0;
				height: 2px;
				background: red;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		&.completed {
			.list-item__checkbox::before {
				opacity: 1;
			}

			.list-item__text::before {
				width: 100%;
				transition: width 0.25s;
			}
		}
	}
}

.message {
	display: none;
	font-size: 26px;
	margin: 0 0 20px 0;

	@media (min-width: $md) {
		margin: 0 0 30px 0;
		font-size: 35px;
	}

	&.active {
		display: block;
	}
}

.btn {
	user-select: none;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	padding: 5px 10px;
	border-style: solid;
	font-size: 20px;
	border-width: 1px;

	@media (min-width: $md) {
		padding: 7px 15px;
		font-size: 24px;
		border-width: 2px;
	}

	&:active {
		transform: translate(0, 2px);
	}

	&_blue {
		border-color: $blue;
		color: $blue;

		&:hover {
			color: #ffffff;
			background: $blue;
		}
	}

	&_red {
		border-color: red;
		color: red;

		&:hover {
			color: #ffffff;
			background: red;
		}
	}
}

.input {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	font-size: 20px;
	background: transparent;
	border: 1px solid black;

	@media (min-width: $md) {
		font-size: 24px;
		padding: 7px 15px;
		border-width: 2px;
	}

	&:focus {
		outline: none;
	}
}

.btn-group {
	
	@media (min-width: $md) {
		display: flex;
		justify-content: space-between;
	}

}

.add-group {
	
	@media (min-width: 400px) {
		display: flex;
	}

	.input-wrap {
		margin-bottom: 7px;
		@media (min-width: 400px) {
			width: 50%;
			margin-right: 15px;
		}
		
		@media (min-width: $md) {
			width: auto;
			margin-bottom: 0;
		}
	}

	.btn_blue {
		margin-bottom: 7px;
		@media (min-width: 400px) {
			width: 50%;
		}

		@media (min-width: $md) {
			width: auto;
			margin-bottom: 0;
		}
	}
}